<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518527099177-mlm0tuk31e243na2cbbu1dpa89t5pije.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518527099177-mlm0tuk31e243na2cbbu1dpa89t5pije</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>518527099177-9qqba5uacndo4a2dbe7nnm1upk3h622p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPondG-pZjCgz-dk05P4_vxEmFk9gaNp4</string>
	<key>GCM_SENDER_ID</key>
	<string>518527099177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.joisticTask</string>
	<key>PROJECT_ID</key>
	<string>jostic-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>jostic-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518527099177:ios:c176b555ebda0df0d71738</string>
</dict>
</plist>